body {
  padding: 50px;
}

#categories {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.item {
  padding: 20px;
}

#ingredients {
  padding-left: 100px;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 50px;
  list-style: none;
}
.gallery__item {
  width: calc(100% / 3 - 10px);
}

.gallery__img {
  display: block;
  width: 100%;
}

#counter {
  margin-bottom: 40px;
}

#validation-input {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
